body {
   margin: 0;
   padding: 0;
   font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;

}

#map {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   background-color: #0e1d2a;
}

/* Left Panel */
.info {
   position: absolute;
   width: 300px;
   top: 0;
   left: 0;
   bottom: 0;
   height: 100vh;
   padding: 20px;
   background-color: #1D1E27;
}

.info .inner-info {
   color: #FFFAFA;
   padding: 10px;
   margin-bottom: 10px;
}

.group {
   padding-top: 10px;
   padding-bottom: 10px;
}

.stat {
   font-size: 30px;
   font-weight: 500;
}

.caption {
   color: #919193;
}

h2 {
   font-weight: 500;
}

.form-control, .form-control-sm {
   color: #fff;
   background-color: #0E1D2A;
   border: 1px solid #919191;
}

.form-control:focus, .form-control-sm:focus {
   color: #fff;
   background-color: #0E1D2A;
   border: 1px solid #919191;
}


.histogram {
   /* position: absolute; */
   /* bottom: 0;
   left: 0;
   right: 0;
   padding: 20px;
   height: 200px; */

   /* position: absolute;
   width: 100%;
   bottom: 0;
   height: 300px;
   padding: 20px;
   background-color: #1D1E27; */

   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   padding-left: 320px;
   padding-right: 20px;

}

.histogram .inner-histogram {
   background-color: #1D1E27; /*rgba(0, 0, 0, 0.75);*/
   color: #FFFAFA;
   border-radius: 3px;
   border-color: #fff;
   padding: 20px;
   margin-bottom: 10px;
}

/* tooltip */
#tooltip {
  font-size: 11px;
  position: absolute;
  padding: 8px;
  border-radius: 5px;
  margin: 8px;
  background-color: #1D1E27;

  font-size: 14px;
  z-index: 9;
  pointer-events: none;
}

.key {
   color: #919193;
   display: inline-block;
}

.key-port {
   width: 60px;
}
.key-route {
   width: 90px;
}

.value {
   color: #fff;
}

/* other */
.mapboxgl-ctrl {
   display: none !important;
}
