body {
   margin: 0;
   padding: 0;
   font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#map {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   /* background-color: #0f1f2e; */
   background-color: #DBE2E6;
}

.info {
   position: absolute;
   width: 260px;
   top: 0;
   left: 0;
   bottom: 0;
   height: 100vh;
   padding: 20px;
   background-color: rgba(32, 37, 44, .9);
}

.info .inner-info {

   color: #FFFAFA;
   padding: 10px;
   margin-bottom: 10px;
}


/* old info */
/* .info {
   position: absolute;
   width: 260px;
   top: 0;
   left: 0;
   padding: 20px;
}

.info .inner-info {
   background-color: rgba(0, 0, 0, 0.75);
   color: #FFFAFA;
   box-shadow: 0 1px 2px rgb(128, 128, 128, 0.5);
   border-radius: 3px;
   border-color: #fff;
   padding: 10px;
   margin-bottom: 10px;
} */

.histogram {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 20px;
}

.histogram .inner-histogram {
   background-color: rgba(0, 0, 0, 0.75);
   color: #FFFAFA;
   box-shadow: 0 1px 2px rgb(128, 128, 128, 0.5);
   border-radius: 3px;
   border-color: #fff;
   padding: 10px;
   margin-bottom: 10px;
}


#tooltip {
  font-size: 11px;
  position: absolute;
  padding: 8px; /* this is causing issues*/
  border-radius: 5px;
  margin: 8px;
  background-color: rgba(32, 37, 44, .9);
  color: #fff;
  max-width: 400px;
  font-size: 14px;
  z-index: 9;
  pointer-events: none;
}
