/* Main */

body {
   margin: 0;
   padding: 0;
   font-family: apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
}

a {
   color: #3171F1;
}
a:hover {
   color: #4B85FB;
   text-decoration: none;
}

#map {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(19, 37, 52, 1);
}

/* Left Panel */
.info {
   position: absolute;
   width: 300px;
   top: 0;
   left: 0;
   bottom: 0;
   height: 100vh;
   padding: 20px;
   background-color: #1D1E27;
   transition: all 0.5s ease;
}

.info .inner-info {
   color: #FFFAFA;
   padding: 10px;
   margin-bottom: 10px;
}

.group {
   padding-top: 10px;
   padding-bottom: 10px;
}

.stat {
   font-size: 30px;
   font-weight: 500;
}

.caption {
   color: #919193;
}

h2 {
   font-weight: 500;
}

.form-control, .form-control-sm {
   color: #fff;
   background-color: #0E1D2A;
   border: 1px solid #919191;
}

.form-control:focus, .form-control-sm:focus {
   color: #fff;
   background-color: #0E1D2A;
   border: 1px solid #919191;
}

/* tooltip */
#tooltip {
  font-size: 11px;
  position: absolute;
  padding: 8px;
  border-radius: 5px;
  margin: 8px;
  background-color: #1D1E27;
  opacity: 0;
  font-size: 14px;
  z-index: 9;
  pointer-events: none;
}

.key {
   color: #919193;
   display: inline-block;
}

.key-port {
   width: 60px;
}
.key-route {
   width: 90px;
}

.value {
   color: #fff;
}

/* Slider and histogram */
.histogram {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   padding-left: 320px;
   padding-right: 20px;

}

.histogram .inner-histogram {
   /*rgba(0, 0, 0, 0.75);*/
   transition: all 0.5s ease;
   background-color: #1D1E27;
   color: #FFFAFA;
   border-radius: 3px;
   border-color: #fff;
   padding: 15px 20px 20px 20px;
   margin-bottom: 20px;
}

.slider {
   width: 100%;
   height: 0.6rem;
   border-radius: 5px;
   position: relative;
   background-color: #4B5157;
}

.slider.one-way .handle.handle-left {
   visibility: hidden;
}

.slider .handle {
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 2rem;
   position: absolute;
   top: -.45rem;
   border: 1px solid #333;
   background-color: #fff;
   text-align: center;
   cursor: pointer;
   z-index: 1;
   -webkit-tap-highlight-color: transparent;
}

.slider .handle.ontop {
   z-index: 2;
}

.slider .handle:active {
   border-color: #0a84c1;
   box-shadow: 0 0 0.5rem #0a84c1;
}

.slider .handle-left {
   left: 0;
}

.slider .handle-right {
   right: 0;
}

.slider .slider-fill {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #4B64D7;
   pointer-events: none;
   -webkit-user-select: none;
}

.slider .slider-transition {
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

rect.bar {
   fill: #4B5157;
}

#min, #max {
   color: #919193;
}

#max {
   float: right;
}

/* other */
.mapboxgl-ctrl {
   display: none !important;
}
